<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Aranea shop</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/reset-css.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-nav rounded">
        <a class="nav-link text-black active h5" href="/">Aranea shop</a>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul
                    class="navbar-nav row">
                <li class="nav-item col-md-4">
                    <a class="nav-link text-black active h5" th:href="@{/users/login}">Login</a>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link text-black active h5" th:href="@{/users/register}">Register</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link text-black active h5" th:href="@{/pages/admins}">Admins</a>
                </li>
                <li class="nav-item" col-md-4 sec:authorize="isAuthenticated()">
                    <a class="nav-link text-black active h5" href="">Logout</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/users/register}">Register</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/users/login}">Login</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<footer class="footer bg-transparent  py-2">
    <div class="container-fluid text-center">
        <div class="footer-background h5 text-white fixed-bottom">
            &copy; Spring team 2023. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>