<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

    <nav class="navbar navbar-expand-lg bg-nav rounded">

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto col-12 justify-content-between">

                    <li class="nav-item">
                        <h1 class="text-center mt-2">
                            <a class="badge badge-pill badge-dark" th:href="@{/}">Aranea shop</a>
                        </h1>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aranea shop</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">


    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}">
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js}"></script>

    <link th:href="@{/images/favicon.ico}" rel="icon">

</head>
<body></body>
</html>