<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
<div th:fragment="navbar">
    <header>
        <nav class="navbar navbar-expand-lg bg-nav rounded">

            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto col-12 justify-content-between">

                        <li class="nav-item" sec:authorize="!isAuthenticated()">
                            <h1 class="text-center mt-2">
                                <a class="badge badge-pill badge-dark" th:href="@{/}">Aranea shop</a>
                                <a  class="badge badge-pill badge-dark" th:href="@{/yarns/all}">Yarns</a>
                                <a  class="badge badge-pill badge-dark" th:href="@{/toys/all}">Toys</a>
                                <a  class="badge badge-pill badge-dark" th:href="@{/accessories/all}">Accessories</a>

                            </h1>
                        </li>
                        <li class="nav-item" sec:authorize="hasRole('USER')">
                            <h1 class="text-center mt-2">
                                <a  class="badge badge-pill badge-dark" th:href="@{/yarns/all}">Yarns</a>
                                <a  class="badge badge-pill badge-dark" th:href="@{/toys/all}">Toys</a>
                                <a  class="badge badge-pill badge-dark" th:href="@{/accessories/all}">Accessories</a>

                            </h1>
                        </li>
                        <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                            <h2 class="text-center mt-2">
                                <a class="badge badge-pill badge-dark" th:href="@{/pages/admins}">Admins</a>
                                <a class="badge badge-pill badge-dark" th:href="@{/accessories/add}">Add Accessory</a>
                                <a class="badge badge-pill badge-dark" th:href="@{/toys/add}">Add Toy</a>
                                <a  class="badge badge-pill badge-dark" th:href="@{/yarns/add}">Add Yarns</a>
                            </h2>
                        </li>
                        <li class="nav-item" sec:authorize="!isAuthenticated()">
                            <h1 class="text-center mt-2">
                                <a class="badge badge-pill badge-dark" th:href="@{/users/register}">Register</a>
                            </h1>
                        </li>
                        <li class="nav-item" sec:authorize="!isAuthenticated()">
                            <h1 class="text-center mt-2">
                                <a class="badge badge-pill badge-dark" th:href="@{/users/login}">Login</a>
                            </h1>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <form class="badge badge-pill badge-dark"
                                  th:method="POST"
                                  th:action="@{/logout}"
                                  sec:authorize="isAuthenticated()">

                                <h1><input class="btn btn-link nav-link text-white px-3 justify-content-around"  type="submit"
                                           value="Logout">
                                </h1>
                            </form>

                            <span class="nav-item">
                        <form th:method="get">
                            <label class="text-black active h6 align-text-top" th:text="#{navbar_language}"
                                   for="lang"></label>
                            <select
                                    onchange="this.form.submit()"
                                    id="lang"
                                    name="lang">
                                <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                                <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                            </select>
                        </form>
                    </span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>
</body>
</html>
