<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Aranea shop</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>

<body>
<div th:insert="~{fragments/navbar}"></div>

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="section-title position-relative text-center mb-5" style="font-family: 'Brush Script MT'" th:text="#{home_message_accessories}"></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 pb-2" th:each="accessory : ${accessories}"
                 th:object="${accessory}">

                <div class="section-title position-relative text-center">
                    <div class="text-center m-auto p-lg-4">
                        <img id="image-actor" width="200" height="200" th:src="${accessory.imageUrl}">
                    </div>
                    <div class="section-title position-relative text-center" width="150">
                        <h4 class="text-center m-auto p-lg-4"
                            th:text="|Price: *{price} BGN.|"></h4>
                    </div>
                    <h5 class="font-weight-bold mb-4"
                        th:text="*{name}"></h5>
                    <a th:href="@{/accessories/info/{id} (id = *{id})}" class="btn btn-sm btn-secondary mb-1" th:text="#{home_message_details}"></a>
                    <form th:action="@{/cart/add}" method="POST">
                        <input type="hidden" name="name" th:value="${accessory.name}"/>
                        <input type="hidden" name="description" th:value="${accessory.description}"/>
                        <input type="hidden" name="color" th:value="${accessory.material}"/>
                        <input type="hidden" name="price" th:value="${accessory.price}"/>
                        <input type="hidden" name="imageUrl" th:value="${accessory.imageUrl}"/>
                    </form>
                </div>
            </div>
        </div>
</div>

<div th:insert="~{fragments/footer}"></div>

<a href="#" class="btn btn-secondary px-2 back-to-top"><i class="fa fa-angle-double-up"></i></a>
</body>

</html>