<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Aranea shop</title>
    <th:block th:replace="~{fragments/head}"></th:block>
</head>

<body>
<div th:insert="~{fragments/navbar}"></div>

<!-- Products Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1 class="section-title position-relative text-center mb-5">Our toys</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 pb-2" th:each="toy : ${toys}"
                 th:object="${toy}">

                <div class="section-title position-relative text-center">
                    <div class="text-center m-auto p-lg-4">
                        <img id="image-actor" width="500" height="200" th:src="${toy.imageUrl}">
                    </div>
                    <div class="section-title position-relative text-center" width="150">
                        <h4 class="text-center m-auto p-lg-4"
                            th:text="|Price: *{price} BGN.|"></h4>
                    </div>
                    <h5 class="font-weight-bold mb-4"
                        th:text="*{name}"></h5>
                    <a th:href="@{/toys/info/{id} (id = *{id})}" class="btn btn-sm btn-secondary mb-1">More details</a>
                    <a th:href="@{/purchase/{id}(id = *{id})}" class="btn btn-sm btn-secondary">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Products End -->

<!-- Footer Start -->
<div th:insert="~{fragments/footer}"></div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-secondary px-2 back-to-top"><i class="fa fa-angle-double-up"></i></a>
</body>

</html>